@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&display=swap");

:root {
  --font: "Poppins", "arial";
  --primary: #333;
  --secondary: #ddd;
  --br-radius: 0.25rem;
}

* {
  font-family: var(--font);
}

body {
  padding: 0rem 30rem;
  margin: 0;
  line-height: 1.6;
  font-family: var(--font);
  display: grid;
  grid-template: 6.5rem 1fr 5rem / auto;
  grid-template-areas: "header" "main" "footer";
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  overflow-x: hidden;
}

header {
  grid-area: header;
}

header h2 {
  position: relative;
  display: block;
  color: var(--secondary);
  padding: 1.5rem 0rem;
  margin: 0;
  font-weight: 500;
}

header h2::after {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 100%;
  width: 100vw;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "nav" "result" "text-box";
  gap: 1rem;
  position: relative;
}

.nav-bar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.nav-bar > * {
  flex: 1;
}

.btn {
  height: 3rem;
  color: var(--primary);
  border-radius: var(--br-radius);
  background-color: transparent;
  border: none;
  border: 1px solid var(--primary);
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.btn:focus {
  background-color: var(--primary);
  color: var(--secondary);
}

.classifier-result {
  grid-area: result;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(4, 92, 4);
}

.classifier-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  grid-area: text-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  width: 100%;
  height: 100%;
}

.text-input {
  resize: none;
  height: 90%;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  outline: none;
  overflow: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
  border-radius: var(--br-radius) var(--br-radius) 0rem 0rem;
}

.submit {
  height: 4rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  color: var(--secondary);
  border-radius: 0rem 0rem var(--br-radius) var(--br-radius);
  background-color: var(--primary);
  border: none;
  border: 1px solid var(--primary);
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover {
  font-size: 1.1rem;
}


.recommender-content {
  color: var(--primary);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  /* display: none; */
}

.recommender-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--primary);
  counter-reset: list_no;
}

.recommender-content li {
  position: relative;
  width: 56.5rem;
  background-color: var(--secondary);
  margin: 0.5rem 0rem;
  border-radius: var(--br-radius);
  padding: 0.5rem 0rem 0.5rem 3.5rem;
  transition: transform 0.2s;
}

.recommender-content li::before {
  counter-increment: list_no;
  content: counter(list_no);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-radius) 0rem 0rem var(--br-radius);
  height: 100%;
  width: 3rem;
  background-color: var(--primary);
  color: var(--secondary);
  box-sizing: border-box;
  padding: 0.6rem 0rem 0rem 1.2rem;
}

.recommender-content li:hover {
  transform: scaleX(1.05);
}

.recommender-content a {
  text-decoration: none;
  display: block;
  color: var(--primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.result-table {
  display: grid;
  width: 130%;
  grid-template: auto / 1.5fr 4fr 1fr;
  /* grid-template-areas: "category news score"; */
  gap: 0.35rem;
  color: var(--secondary);
  background-color: var(--secondary);
  padding: 0.35rem;
  border-radius: var(--br-radius);
}

.result-header {
  background-color: var(--primary);
  padding: 1rem;
  height: 2rem;
  text-transform: uppercase;
}

.result-table div:nth-child(1) {
  border-radius: var(--br-radius) 0rem 0rem 0rem;
}

.result-table div:nth-child(3) {
  border-radius: 0rem var(--br-radius) 0rem 0rem;
}

.result {
  background-color: white;
  color: var(--primary);
  padding: 1rem;
  height: 2rem;
  border-radius: 0rem;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  color: var(--secondary);
  position: relative;
  padding-top: 1.5rem;
}

footer::after {
  content: "";
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  height: 80%;
  width: 100vw;
}
