<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Nepali News Classifier and Recommender</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <h2>Nepali News Classifier and Recommender</h2>
        </header>

        <main>
            <section class="nav-bar">
                <button id="classifier" class="btn">Classifier</button>
                <button id="recommender" class="btn">Recommender</button>
            </section>

            <div class="classifier-result" id="c-result" style="margin: 1rem 0"></div>

            <section class="classifier-content" id="c-content">
                <form id="form" className="classifier-form">
                    <textarea class="text-input" placeholder="Enter text here" required></textarea>
                    <input class="submit" type="submit" value="Submit" />
                </form>
            </section>

            <section class="recommender-content" id="r-content">
                <ul>
                    <li id="1"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="2"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="3"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="4"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="5"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="6"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="7"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="8"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="9"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                    <li id="10"><a id="link" href="#"> </a><button id="r-btn">More News</button></li>
                </ul>
                <div class="result-table" id="rt">
                    <div class="result-header">Category</div>
                    <div class="result-header">News</div>
                    <div class="result-header">Score</div>
                </div>
            </section>
        </main>

        <footer>
            <p class="footer-content">All rights reserved. bighead &copy;NNCAR</p>
        </footer>
    </body>

    <script type="module" src="{{ url_for('static', filename='index.js')}}"></script>
</html>
